/*-----------------------------------------------------------------

---------------------------------
INDICE
---------------------------------

1.0	- Type

6.0 - Layout


---------------------------------
COLOR
---------------------------------

Purple			#4b0aa5
Light purple
Green			#12c4aa
Dark grey		#717175
Med grey		#adacb2
Light grey

---------------------------------
TYPE
---------------------------------

Ubuntu
	Light		300
	Normal		400
	Medium		500
	Bold		700

EJ:
	font-family: 'Ubuntu', serif;
	font-style: italic;
	font-weight: 300;

-----------------------------------------------------------------*/


/*-----------------------------------------------------------------
1.0 - Type
-----------------------------------------------------------------*/

body {
	color: #717175;
	font: 400 18px/1.5rem 'Ubuntu', Arial, sans-serif;
}

#sub-navbar,
#site-footer-content {
	color: #fff;
}

h1 > a {
	display: block;
	width: 100px;
}


/*-----------------------------------------------------------------
6.0 - Layout
-----------------------------------------------------------------*/

#site-header,
#site-content,
#site-footer {
	width:100%;
}

#top-navbar,
.top-bar,
.contain-to-grid {
	background: #fff;
}

#sub-navbar {
	background: #4b0aa5;
}

#site-content-header {
	background: #f3f3f4;
}

#site-footer-content {
	background: #adacb2;
}

#site-footer-helplinks {
	background: #fff;
}




