/*-----------------------------------------------------------------
CSS de Cin :)
-----------------------------------------------------------------*/




/*-----------------------------------------------------------------
start: header 
-----------------------------------------------------------------*/


/*--USER-PHOTO--*/


.user-pic {
width: 250px;
 height: 250px;
 border-radius: 125px;
-moz-border-radius: 125px;
-webkit-border-radius: 125px;
-khtml-border-radius: 125px;
 overflow: hidden;

}

.foto-user{

width: 250px;
height: 250px;

}



.user-redes{

display: block;
margin-top: 20px;

}


.link-ico{
width:20px;
height: 20px;
}


.facebook-ico{width: 30px;
height: 30px;
}
.twitter-ico{width: 30px;
height: 30px;
margin-left: 20px;}
.linkedin-ico{width: 30px;
height: 30px;
margin-left: 20px;}

.mail-ico{
width: 20px;
height: 20px;}

.phone-ico{width: 20px;
height: 20px;}

/*-----------------------------------------------------------------
end: header
-----------------------------------------------------------------*/


/*-----------------------------------------------------------------
Start: Galería de proyectos
-----------------------------------------------------------------*/

{

margin-left: 617px;


}








/*-----------------------------------------------------------------
End: Galería de proyectos
-----------------------------------------------------------------*/




/*-----------------------------------------------------------------
Start: User form
-----------------------------------------------------------------*/



#buttontag{
background-color: red;




}
.button radiustag{background-color: red;
	
}

/*-----------------------------------------------------------------
End: User form
-----------------------------------------------------------------*/