/*-----------------------------------------------------------------
CSS de Mari :)
-----------------------------------------------------------------*/

/*
	NOTAS MATI:
	ver lineas 52, 71, 84, 119 (MUY IMPORTANTE este ultimo!!) :D
	Martes 13: Ver linea 44!!
*/

/*--------INDEX--------*/

/*--MAIN-PHOTO--*/

#home-mainphoto {
	background-image:url("../img/home.jpg");
	background-size:cover;
	height:550px;
}

#home-mainphoto h2{
	text-align:center;
	color:#ffffff;
	margin-top:33%;
}

#home-mainphoto p{
	text-align:center;
	color:#ffffff;
}

#home-button{
	text-align:center;
}

.bigger{
	font-size:1.3rem;
	font-weight:500;

}

/*--CONTENT-HEADER--*/

/* Mari, por fa acordate de no caerle encima a estilos generales,
	estas próximas dos declaraciones afectaban todo el sitio.
	Hoy le di clase .home a todo el <body> tuyo, en este caso lo arregle
	agregandola, usala por fis :)
 */

.home #content-header p {
	text-align:center;
	font-size:1.5rem;
	line-height:2rem;
}

.home #content-header a{
	text-decoration:underline;
}


/*#content-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}*/

/*
	Esto le caería encima a todas las otras páginas, acordate que en este caso debe ser especifico para esta instancia
	Lo cambié a usar la clase especifica de esta lista, y lo puse más abajo para seguir el orden
*/
/*
#content-header ul li {
	display: inline;
}
*/


.home-content-header-icons {
	display:block;
	text-align:center;
	list-style-type: none;
}

.home-content-header-icons li {
	/* display: inline;  */
	/* Es mejor, casi siempre, usar float. En este caso porque porque por más inline, no hay ancho definido, o sea, el texto estaba agarrando el 100% de la columna */
	float:left;
	text-align: center;
	width: 33.333% /*en este caso, float left y ancho de 33.333% a todos, para que sean tercios*/
}

.home-content-header-icons img {
/*
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
*/
	/* display: block; */
	/* Ok, quité lo de block, porque no había pensado que al ser block, no se centraría. Oops.
		En vez, hice un span para el nombre .home-content-header-name
	*/
}
.home-content-header-name {
	display: block;
}

/*.home-content-header-names {
	display:block;
	text-align:center;
	list-style-type: none;
}

.home-content-header-names li{
	margin-left:5%;
	margin-right:5%;
	margin-bottom:2%;
}*/


/*--INTRO-HOME-GALLERY--*/

#intro-project-gallery{
	margin-top:30px;
}

.intro-gallery h3{
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight:700;
	font-size:1.3rem;
	color:#4b0aa5;
}

#search-gallery{
	text-align:right;
	float:right;
}


.span-proyecto {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight:300;
	font-size:1rem;
}

/*--HOME-GALLERY--*/

#home-gallery{
	margin-top:30px;
}

#home-gallery h3{
	color:#717175;
	font-size:1.3rem;
	font-weight:500;
	margin-bottom:2rem;
}

#home-gallery h4{
	color:#717175;
	font-size:1rem;
	font-weight:400;
	margin-bottom:-1px;
}


.gallery-block-grey {
	background-color:#f3f3f4;
	width:100%;
	padding:10px;
}



.gallery-block-grey ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.gallery-block-grey ul li{
	display: inline;
	float:right;
	margin-left:10px;
	margin-bottom:10px;

}

.gallery-block-grey li:first-child {
    float:left;
}

/*--PAGE NUMBERS--*/

#page-numbers{
	text-align:center;
	margin-top:2%;
	margin-bottom:2%;
}
