/*-----------------------------------------------------------------

---------------------------------
INDICE
---------------------------------

1.0	- Type
	1.1 Text links
	1.2 Modifications/exceptions
2.0 - Navigation
	2.1 - Buttons
	2.2 - Menus
		2.2.1 - Topbar
		2.2.2 - Submenu
4.0 - Layout


---------------------------------
COLOR
---------------------------------

Purple			#4b0aa5
Light purple	#827bee
Green			#12c4aa
Dark grey		#717175
Med grey		#adacb2
Light grey

---------------------------------
TYPE
---------------------------------

Ubuntu
	Light		300
	Normal		400
	Medium		500
	Bold		700

EJ:
	font-family: 'Ubuntu', serif;
	font-style: italic;
	font-weight: 300;

-----------------------------------------------------------------*/


/*-----------------------------------------------------------------
1.0 - Type
-----------------------------------------------------------------*/

body {
	color: #717175;
	font: 400 110%/1.5rem 'Aleo', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

#sub-navbar,
#site-footer-content {
	color: #fff;
}




/*-----------------------------------------------------------------
1.1 - Text links
-----------------------------------------------------------------*/

/*-----------------------------------------------------------------
1.1 - Modifications/exceptions
-----------------------------------------------------------------*/

/* Larger */
.project-summary p {
	font-size: 1.5rem;
}


/* Smaller */
#sub-navbar li,
#site-footer-closinglinks,
#footer-copyright {
	font-size: .8rem;
}

/* Uppercase */
/* #sub-navbar li */ {
	text-transform: uppercase;
}

/* Ubuntu */
.ubuntutxt,
.top-bar ul li > a,
#sub-navbar,
#footer-content,
#site-footer-closinglinks {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

/* Aleo */
.aleotxt,
.label {
	font-family: 'Aleo', Helvetica, Arial, sans-serif;
}

/* Dark grey */
.dkgreytxt,
.dkgreytxt a,
#content-header h2,
#content-header h3,
#content-header h4,
#content-header h5,
#content-header h6,
#site-footer-closinglinks a {
	color: #727275;
}

.dkgreytxt a:hover,
.dkgreytxt a:focus,
#site-footer-closinglinks a:hover,
#site-footer-closinglinks a:focus {
	color: #424244;
}

/* Green */
.top-bar-section li:not(.has-form) a:not(.button) {
    color: #12c4aa;
}

/* White */
.whitetxt,
.whitetxt a,
.home .top-bar ul li,
.home .top-bar-section li:not(.has-form) a:not(.button),
#footer-content,
#footer-content a,
#footer-content h2,
#footer-content h3,
#footer-content h4,
#footer-content h5,
#footer-content h6 {
	color: #fff;
}

.whitetxt a:hover,
.whitetxt a:focus,
.home .top-bar-section li:not(.has-form) a:not(.button):hover,
.home .top-bar-section li:not(.has-form) a:not(.button):focus,
#footer-content a:hover,
#footer-content a:focus {
    color: #e3e3e4;
}


/*-----------------------------------------------------------------
2.0 - Navigation
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
2.1 - Buttons
-----------------------------------------------------------------*/

button, .button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 3px 0px 0px #11b69e;
	-moz-box-shadow: 0px 3px 0px 0px #11b69e;
	box-shadow: 0px 3px 0px 0px #11b69e;
	-webkit-transition: background-color 300ms ease-out, -webkit-box-shadow 300ms ease-out;
	-moz-transition: background-color 300ms ease-out, -moz-box-shadow 300ms ease-out;
	-ms-transition: background-color 300ms ease-out, box-shadow 300ms ease-out; /* IE10 is actually unprefixed */
	-o-transition: background-color 300ms ease-out, box-shadow 300ms ease-out;
	transition: background-color 300ms ease-out, box-shadow 300ms ease-out;

	color: #fff;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;

}
button:hover, button:focus, .button:hover, .button:focus {
	-webkit-box-shadow: 0px 3px 0px 0px #0fa892;
	-moz-box-shadow: 0px 3px 0px 0px #0fa892;
	box-shadow: 0px 3px 0px 0px #0fa892;

    background-color: #11b69e;
    color: #fff;
}

#home-button .button {
	-webkit-box-shadow: 0px 3px 0px 0px #0fa892;
	-moz-box-shadow: 0px 3px 0px 0px #0fa892;
	box-shadow: 0px 3px 0px 0px #0fa892;
}

#home-button .button:hover, #home-button .button:focus {
	-webkit-box-shadow: 0px 3px 0px 0px #0b957e;
	-moz-box-shadow: 0px 3px 0px 0px #0b957e;
	box-shadow: 0px 3px 0px 0px #0b957e;

    background-color: #0fa892;
    color: #fff;
}

button.secondary, .button.secondary {
	-webkit-box-shadow: 0px 3px 0px 0px #e2e2e3;
	-moz-box-shadow: 0px 3px 0px 0px #e2e2e3;
	box-shadow: 0px 3px 0px 0px #e2e2e3;

    color: #333333;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
	-webkit-box-shadow: 0px 3px 0px 0px #d1d1d2;
	-moz-box-shadow: 0px 3px 0px 0px #d1d1d2;
	box-shadow: 0px 3px 0px 0px #d1d1d2;

	background-color: #e2e2e3;
    color: #333333;
}
button.success, .button.success {
	-webkit-box-shadow: 0px 3px 0px 0px #756fd7;
	-moz-box-shadow: 0px 3px 0px 0px #756fd7;
	box-shadow: 0px 3px 0px 0px #756fd7;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
	-webkit-box-shadow: 0px 3px 0px 0px #6964c0;
	-moz-box-shadow: 0px 3px 0px 0px #6964c0;
	box-shadow: 0px 3px 0px 0px #6964c0;
}
button.alert, .button.alert {
	-webkit-box-shadow: 0px 3px 0px 0px #9e0c0f;
	-moz-box-shadow: 0px 3px 0px 0px #9e0c0f;
	box-shadow: 0px 3px 0px 0px #9e0c0f;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
	-webkit-box-shadow: 0px 3px 0px 0px #8b0b0d;
	-moz-box-shadow: 0px 3px 0px 0px #8b0b0d;
	box-shadow: 0px 3px 0px 0px #8b0b0d;
}



/*-----------------------------------------------------------------
2.2 - Menus
-----------------------------------------------------------------*/


/*
2.2.1 - Topbar
-----------------------------------------------------------------*/


.top-bar {
	height: 55px;
	line-height: 55px;
}

.top-bar .name h1 a {
	padding: 0 15px 10px;
	width: 110px; /*7rem*/
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
    line-height: 55px;
}




.home .top-bar, .home .contain-to-grid {
	background: transparent;
}

.home .contain-to-grid {
	position: absolute;
}

.home .top-bar {
	height: 100px;
	line-height: 100px;
}


.home .top-bar .name {
	height: 100px;
}

.home .top-bar .name h1 {
	line-height: 90px;
}

.home .top-bar .name h1 a {
	width: 160px; /*10rem*/
}

.home .top-bar-section ul li {
	background: transparent; /* #333333 */
}


.home .top-bar-section li:not(.has-form) a:not(.button) {
	background: transparent;
	line-height: 100px;
}

.top-bar.expanded {
	height: auto;
	background: transparent;
}

/*
2.2.2 - Submenu
-----------------------------------------------------------------*/

#sub-navbar {
	text-align: center;
}

#sub-navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block; /* this allows parent element to be text-align:center */
}

#sub-navbar li {
	display: block;
	float: left;
	margin: 1rem;
	text-align: center;
	width: 100px;
}

#sub-navbar a {
	color: #827bee;
}

    .submenu-icon {
	    -webkit-border-radius: 32px;
		-moz-border-radius: 32px;
		border-radius: 32px;

	    background: transparent;
	    border: 1px solid #827bee;
	    height: 64px;
	    margin: 0 auto;
	    width: 64px;
    }


/*-----------------------------------------------------------------
3.0 - Images
-----------------------------------------------------------------*/



/*-----------------------------------------------------------------
4.0 - Layout
-----------------------------------------------------------------*/

#site-header,
#site-content,
#site-footer,
#site-footer-closinglinks {
	width:100%;
}

#top-navbar,
.top-bar,
.contain-to-grid {
	background: #fff;
}

#sub-navbar {
	background: #4b0aa5;
	padding: 1rem 0 .5rem;
}

#site-header {
	background: #f3f3f4;
}

#content-header {
	padding: 2rem 0;
}

#site-content > div,
#site-content > section {
	padding: 1rem 0 2rem 0;
}

#site-footer {
	background: #adacb2;
}

#footer-content {
	padding: 1rem 0;
}

	#footer-content ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

#site-footer-closinglinks {
	background: #fff;
	padding: 1em 0;
	text-align: center;
}

.footer-logo {
	margin: 0 auto;
	max-width:180px;
	width:75%;
}


.project-pic {
	background: #fff;

}
.project-pic.large {
	/* min-height: 320px; */
	width: 100%;
}

.project-name {
	margin-top: 1rem;
	margin-bottom: 0;
	line-height: 1em;
}

.project-meta {
	border-top: 1px solid #adacb2;
	list-style: none;
	margin: 1rem 0 0 0;
	padding:1rem 0 0 0;
}

#project-main {
	margin-top: 1rem;
}

.project-summary {
	margin: 2rem 0 3rem;
}


