/*-----------------------------------------------------------------

---------------------------------
INDICE
---------------------------------

1.0	- Type
2.0 - Navigation
	2.1 - Links
	2.2 - Menus
		2.2.1 - Topbar
		2.2.2 - Submenu
3.0 - Layout


---------------------------------
COLOR
---------------------------------

Purple			#4b0aa5
Light purple	#827bee
Green			#12c4aa
Dark grey		#717175
Med grey		#adacb2
Light grey

---------------------------------
TYPE
---------------------------------

Ubuntu
	Light		300
	Normal		400
	Medium		500
	Bold		700

EJ:
	font-family: 'Ubuntu', serif;
	font-style: italic;
	font-weight: 300;

-----------------------------------------------------------------*/


/*-----------------------------------------------------------------
1.0 - Type
-----------------------------------------------------------------*/

body {
	color: #717175;
	font: 400 110%/1.5rem 'Aleo', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: 700;
}

#sub-navbar,
#site-footer-content {
	color: #fff;
}


.short-info p {
	font-weight: 300;
}

/* Larger */
.short-info p {
	font-size: 1.5rem;
}


/* Smaller */
#sub-navbar li,
#site-footer-closinglinks,
#footer-copyright {
	font-size: .75rem;
}

/* Uppercase */
#sub-navbar li,
#site-footer-closinglinks {
	text-transform: uppercase;
}


/*-----------------------------------------------------------------
2.0 - Navigation
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
2.1 - Links
-----------------------------------------------------------------*/

.button {
	-webkit-box-shadow: 0px 3px 0px 0px #27496d;
	-moz-box-shadow: 0px 3px 0px 0px #27496d;
	box-shadow: 0px 3px 0px 0px #27496d;
}



/*-----------------------------------------------------------------
2.2 - Menus
-----------------------------------------------------------------*/


/*
2.2.1 - Topbar
-----------------------------------------------------------------*/

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
    color: #12c4aa;
}


/*
2.2.2 - Submenu
-----------------------------------------------------------------*/

#sub-navbar {
	text-align: center;
}

#sub-navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block; /* this allows parent element to be text-align:center */
}

#sub-navbar li {
	display: block;
	float: left;
	margin: 1rem;
	text-align: center;
	width: 100px;
}

#sub-navbar a {
	color: #827bee;
}

    .submenu-icon {
	    -webkit-border-radius: 32px;
		-moz-border-radius: 32px;
		border-radius: 32px;

	    background: transparent;
	    border: 1px solid #827bee;
	    height: 64px;
	    margin: 0 auto;
	    width: 64px;
    }



/*-----------------------------------------------------------------
3.0 - Layout
-----------------------------------------------------------------*/

#site-header,
#site-content,
#site-footer {
	width:100%;
}

#top-navbar,
.top-bar,
.contain-to-grid {
	background: #fff;
}

#sub-navbar {
	background: #4b0aa5;
	padding: 1rem 0 .5rem;
}

#site-header {
	background: #f3f3f4;
}

#content-header {
	padding: 2rem 0;
}

#site-content > div,
#site-content > section {
	padding: 1rem 0 2rem 0;
}

#site-footer {
	background: #adacb2;
}

#footer-content {
	padding: 1rem 0;
}

#site-footer-closinglinks {
	background: #fff;
	text-align: center;
}



.project-pic {
	background: #fff;

}
.project-pic.large {
	min-height: 320px;
	width: 100%;
}


